
.Header{
    max-width: 70%;
    background-color: green;
    margin: auto;
}
.name > span {
    padding: 10px;
    
}
.cover {
	width: 100%;
	height: 270px;
	background-image: url(./cover.jpg);
	background-repeat: no-repeat;
	background-size:auto;
    position: relative;
    background-position: center;
	margin-top: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
 
/*../ cover */

/* profile  */
.profile {
	height: 100px;
	background-color: #ffffff;
	position: relative;
	
}

.profile-photo {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background-image: url(./profile.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2px;
	border: 1px solid #f1f1f1;
	/* position: absolute;
	left: 50%;
	transform: translate(-50%, -50%); */
}

.profile-name h2 {
	text-align: center;
	margin-bottom: 10px;
}


.profile{
	top:-80px;
	border-radius: 100px !important;
}
.profile-head {
    transform: translateY(5rem)
}
.bg-light{
	top:-50px
}
.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

.img-thumbnail{
	border-radius: 22px !important;
}